.circle {
    width: 450px;
    height: 450px;

    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    box-shadow: 0 5px 25px rgba(71, 70, 70, 0.15);
    border-radius: 67% 33% 38% 62% / 30% 30% 70% 70%;

    animation: circleRadius 12s alternate infinite;

    position: absolute;
    right: 5rem;
    bottom: 5rem;
    z-index: 1;

    

    @media (max-width: $breakpoint_xl) {
        width: 400px;
        height: 400px;
    }
    @media (max-width: $breakpoint_l) {
        display: none;
    }
}

@keyframes circleRadius {
    0% {
        border-radius: 42% 58% 41% 59% / 56% 61% 39% 44%;
        transform: translate3d(0, 0, 0);
    }
    25% {
        border-radius: 32% 68% 79% 21% / 81% 67% 33% 19%;
        transform: translate3d(-100px, -80px, 0);
    }
    50% {
        border-radius: 54% 46% 21% 79% / 47% 67% 33% 53%;
        transform: translate3d(-170px, -120px, 0);
    }
    100% {
        border-radius: 27% 73% 36% 64% / 51% 63% 37% 49%;  
        transform: translate3d(45px, -100px, 0);  
    }
}